*{
    box-sizing: border-box;
}
body {
    background-color: #fff8fc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#444
}
ul {
    margin:0;
    padding:0;
    list-style-type:none;
}
a {
    text-decoration:none;
}

section {
    position:relative;
   
    /* overflow:hidden; */
    /* overflow-x:scroll; */
}
/* Table styling  */
table {
    margin: 0 auto;
    table-layout: fixed;
    /* width:100%; */
    /* border-collapse:collapse; */
    border-spacing:0;
    font-size: 14px;
    border-bottom: 4px solid  #e6e6e6;

}

/* Caption styling */

caption {
    position:relative;
    padding: 16px 0;
    
    text-align: left;

}

caption span {
    position:relative;
    font-size:24px;
    padding:16px 0;
}



tr {
    border-bottom: 1px solid #e6e6e6;
    background-color:transparent;
    padding:20px;

    transition: all 0.5s;

}

tbody tr:hover {
    background-color:white;
    box-shadow: 0 0 10px #ccc;
}

thead th {
    position: sticky;
    top: 5px;
    background-color:#fff8fc;
    z-index: 2;
}

thead tr:nth-child(odd) {
    border-bottom: 2px solid  #e6e6e6;
    background-color: white;
}
 th, td{
     padding: 10px 20px;
     border-bottom: 1px solid  #e6e6e6;
 }

 th {
     text-align: center;
     vertical-align: middle;
     color: #737373;
     font-weight:400;
 }

 thead th:first-child, 
 thead th:nth-child(2),
 thead th:last-child {
     width: 60px;
 }

 .text-right {
     text-align: right;
 }

 .icon{
     width: 16px;
 }
 .icon--horizontal{
     width:20px;
 }
 .dropdown-trigger {
     position:relative;
 }
 .dropdown{
     position: absolute;
     z-index: 4;
     top:100%;
     right: 10px;
     background-color:white;
     box-shadow: 0 0 10px #f3f3f3;
     border-radius: 4px;
     opacity: 0;
     visibility: hidden;
     transform: translateY(-10%);
     transition: 0.5s;
 }
 .dropdown-trigger:hover .dropdown {
     opacity: 1;
     visibility: visible;
     transform: translateY(0);
 }

 .dropdown-item:first-child a {
     border-radius: 4px 4px 0 0;
 }
 .dropdown-item:last-child a {
     border-radius: 0 0 4px 4px;
 }

 .dropdown-item a{
     display:block;
     padding: 8px 16px;
     color:inherit;
     background-color: transparent;
     border-bottom: 1px solid  #e6e6e6;
     transition: all 0.3s;

 }
 .dropdown-item:last-child a{
     border-bottom: none;
 }

 .dropdown-item a:hover{
     background-color: #e6e6e6;
 }

 .avatar {
     width: 30px;
     height: 30px;
     border-radius: 50%;
     overflow:hidden;
     border: 2px solid #e6e6e6;
 }

 .avatar img {

     display: block;
     width:100%;
     max-width:100%;

 }

 .indicator {
     display: flex;
     align-content:center;
 }
 .indicator img {
     width:20px;
     height:20px;
     margin-right: 8px;
 }